flet==0.28.3
pillow==12.1.1
CairoSVG==2.8.2
requests==2.32.5
isort==7.0.0
flake8==7.3.0
black==26.1.0
appdirs==1.4.4
psutil==7.2.2
jsonschema==4.26.0
jsonschema-default==1.8.1
qrcode==8.2
netifaces==0.11.0
freezegun==1.5.5
