name: Retro.I Pipeline

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
    tags:
      - '**'

env:
  APP_NAME: retroi-web
  NAMESPACE: retroi-web
  IMAGE_NAME: felixholfelder/retroi-web
  VERSION: ${{ github.ref_name }}

jobs:
  qualitygate:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Set up venv
        run: |
          python -m venv .venv
          .venv/bin/pip install --upgrade pip
          .venv/bin/pip install -r test-requirements.txt
          source .venv/bin/activate

      - name: black
        id: black
        continue-on-error: true
        run: source .venv/bin/activate && scripts/black.sh --check

      - name: isort
        id: isort
        continue-on-error: true
        run: source .venv/bin/activate && isort --check-only .

      - name: flake8
        id: flake8
        continue-on-error: true
        run: source .venv/bin/activate && flake8 .

      - name: Final linter check
        if: steps.black.outcome == 'failure' || steps.isort.outcome == 'failure' || steps.flake8.outcome == 'failure'
        run: exit 1

#  test:
#    runs-on: ubuntu-24.04-arm
#    needs: qualitygate
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: "3.14"
#
#      - name: Set up venv
#        run: |
#          python -m venv .venv
#          .venv/bin/pip install --upgrade pip
#          .venv/bin/pip install -r test-requirements.txt
#          source .venv/bin/activate
#
#      - name: Run unittests
#        run: source .venv/bin/activate && python -m unittest

  dockerize:
    runs-on: ubuntu-latest
    needs: qualitygate
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Build Docker image
        if: github.ref_type == 'tag' || github.ref_name == 'main'
        run: docker build --build-arg revision=${{ env.VERSION }} . -t ${{ env.IMAGE_NAME }}:${{ env.VERSION }}

      - name: Push to Dockerhub
        if: github.ref_type == 'tag' || github.ref_name == 'main'
        run: |
          docker login -u=${{ secrets.DOCKERHUB_USER }} -p=${{ secrets.DOCKERHUB_PASS }}
          docker push ${{ env.IMAGE_NAME }}:${{ env.VERSION }}

  deploy:
    runs-on: ubuntu-latest
    needs: dockerize
    if: github.actor != 'renovate[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create config
        run: |
          mkdir ${HOME}/.kube
          echo ${{ secrets.KUBE_CONFIG }} | base64 --decode > ${HOME}/.kube/config

      - name: Use context
        run: kubectl config use-context default

      - name: Get current server version
        run: |
          SERVER_VERSION=$(kubectl describe deployment -n ${{ env.NAMESPACE }} ${{ env.APP_NAME }}-deployment | grep Image | sed -E 's/.*:(.*)/\1/')
          echo "SERVER_VERSION=$SERVER_VERSION" >> $GITHUB_ENV

      - name: Set new image
        run: kubectl set image deployments/${{env.APP_NAME}}-deployment server=${{env.IMAGE_NAME}}:${{env.VERSION}} -n ${{env.NAMESPACE}}

      - name: Delete pod
        if: env.SERVER_VERSION == env.VERSION
        run: kubectl delete pod -l app=$APP_NAME-deployment -n $NAMESPACE
      - name: Healthcheck
        run: |
          sleep 10s
          kubectl wait --for=condition=ready pod -l app=${{env.APP_NAME}}-deployment -n ${{env.NAMESPACE}} --timeout=30s
      - name: Get fresh server version
        run: |
          SERVER_VERSION=$(kubectl describe deployment ${{ env.APP_NAME }}-deployment -n ${{ env.NAMESPACE }} | grep Image | sed -E 's/.*:(.*)/\1/')
          echo "SERVER_VERSION=$SERVER_VERSION" >> $GITHUB_ENV
      - name: Final check
        if: env.SERVER_VERSION != env.VERSION
        run: |
          echo "Server Version - ${{env.SERVER_VERSION}}"
          echo "Neue Version - ${{env.VERSION}}"
           echo "Die neue Version konnte nicht deployed werden!"
           exit 1